<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>管理员界面</title>
    <link rel='stylesheet' href='/assets/admin/css/css.css'/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/admin/apple-touch-icon.png">
    <link rel='stylesheet' href='/assets/admin/css/toolkit-inverse.css'/>
    <link rel='stylesheet' href='/assets/admin/css/application.css'/>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/assets/admin/js/toolkit-entypo.woff2">
    <link rel="stylesheet" href="/assets/admin/js/KFOlCnqEu92Fr1MmSU5fBBc4.woff2">
    <script src="https://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
</head>
<script src="/assets/admin/js/admin.js"></script>
<style>
    /* note: this is a hack for ios iframe for bootstrap themes shopify page */
    /* this chunk of css is not part of the toolkit :) */
    body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
    }
</style>
<body>
<div class="bw">
    <div class="dh">
        <div class="en bpz">
            <nav class="bqg">
                <div class="bqa">
                    <button class="bow boy bqb" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
                        <span class="adp">Toggle nav</span>
                    </button>
                    <a class="bqc brd" href="index.html">
                        <span class="bv bhc bqd"></span>
                    </a>
                </div>

                <div class="collapse bpd" id="nav-toggleable-md">
                    <form class="bqe">
                        <input class="form-control" type="text" placeholder="Search...">
                        <button type="submit" class="nz">
                            <span class="bv bhw"></span>
                        </button>
                    </form>
                    <ul class="nav pb nav-stacked wz">
                        <li class="axq">类别</li>
                        <li class="pa">
                            <a class="oy active" href="">新闻</a>
                        </li>
                        <li class="pa">
                            <a class="oy " href="order-history/index.html">Order history</a>
                        </li>
                        <li class="pa">
                            <a class="oy " href="fluid/index.html">Fluid layout</a>
                        </li>
                        <li class="pa">
                            <a class="oy " href="icon-nav/index.html">Icon nav</a>
                        </li>

                        <li class="axq">新闻</li>
                        <li class="pa">
                            <a class="oy " href="docs/index.html">
                                类别
                            </a>
                        </li>
                        <li class="pa">
                            <a class="oy" href="http://localhost/yemian/admin.php?c=news&m=view" target="blank">
                                分类页
                            </a>
                        </li>
                        <li class="pa">
                            <a class="oy " href="index-light/index.html">Light UI</a>
                        </li>
                        <li class="pa">
                            <a class="oy" href="#docsModal" data-toggle="modal">
                                Example modal
                            </a>
                        </li>
                    </ul>
                    <hr class="bre aez">
                </div>
            </nav>
        </div>
        <div class="et brf">
