<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <title>今日头条</title>
    <link rel="stylesheet" href="/assets/index/css/rem.css">
    <link rel="stylesheet" href="/assets/index/css/index.css">
</head>
<body>
<!--页头-->
<div class="top">
    <div class="top-abs">
        <div class="top-email">
            <div class="primary"></div>
        </div>
        <div class="top-title">
            <a href=""></a>
            <div class="refresh"></div>
        </div>
        <a href="/index.php?c=page&m=search"><div class="top-search"></div></a>
    </div>
    <!--导航-->
    <div class="top-nav">
        <div class="nav-title">
            <?php foreach ($category as $k=>$v) {?>
               <a href="">
                    <?php echo $v['name']?>
                </a>
            <?php }?>
            <!--<a href="" class="active">推荐</a>-->
            <!--<a href="">科技</a>-->
            <!--<a href="">汽车</a>-->
            <!--<a href="">财经</a>-->
            <!--<a href="">国际</a>-->
            <!--<a href="">游戏</a>-->
        </div>
        <div class="top-more"><a href="/index.php?c=page&m=nav">+</a></div>
    </div>
</div>
<!--列表内容页-->
<div class="list-content">
    <div class="list list-1st">
        <a href="">
            <div class="left">
                <h3>习近平以实干精神筑牢改革之基</h3>
                <div class="corner">
                    <span class="hot">置顶</span>
                    <span>央视新闻网</span>
                    <span>评论 52</span>
                </div>
            </div>
            <div class="right"><img src="/assets/index/img/lsit1.jpg" alt=""></div>
        </a>
    </div>
    <div class="list list-2nd">
        <a href="">
            <h3>习近平时间｜习近平寄语青年：为构建人类命运共同体添砖献瓦</h3>
            <div class="corner">
                <span class="hot">置顶</span>
                <span>新华社</span>
                <span>评论 0</span>
            </div>
        </a>
    </div>
    <?php foreach($news as $k=>$v) { ?>
      <div class="list list-1st">
          <a href="<?php echo $v['url'] ?>">
              <div class="left">
                  <h3><?php echo $v['title'] ?></h3>
                  <div class="corner">
                      <span>央视新闻网</span>
                      <span>评论 52</span>
                  </div>
              </div>
              <div class="right"><img src="<?php echo $v['image'] ?>" alt=""></div>
          </a>
      </div>
    <?php } ?>
    <div class="list list-3rd">
        <a href="">
            <h3>喝了10年酸奶才知道，原来盒上有小机关</h3>
            <div class="list-box">
                <div class="list-img">
                    <img src="/assets/index/img/m1.jpg" alt="">
                </div>
                <div class="list-img">
                    <img src="/assets/index/img/m2.jpg" alt="">
                </div>
                <div class="list-img">
                    <img src="/assets/index/img/m3.jpg" alt="">
                </div>
            </div>
            <div class="corner">
                <span>知识网</span>
                <span>评论 15</span>
                <span>1小时前</span>
            </div>
        </a>
    </div>
    <div class="list list-1st">
        <a href="">
            <div class="left">
                <h3>北京顺义1300套共有产权房获批</h3>
                <div class="corner">
                    <span class="hot">置顶</span>
                    <span>北京日报</span>
                    <span>评论 52</span>
                </div>
            </div>
            <div class="right"><img src="/assets/index/img/fang.jpg" alt=""></div>
        </a>
    </div>
    <div class="shop-holder">
        <a href="">
            <h3>波士顿令人惊艳的酒店，你会选哪家？</h3>
           <div class="shop-img">
               <img src="/assets/index/img/shop.png" alt="">
           </div>
            <div class="corner">
                <span class="shops">广告</span>
                <span>花月网</span>
                <span>1小时前</span>
            </div>
        </a>
    </div>
    <div class="list list-2nd">
        <a href="">
            <h3>习近平时间｜习近平寄语青年：为构建人类命运共同体添砖献瓦</h3>
            <div class="corner">
                <span class="hot">置顶</span>
                <span>新华社</span>
                <span>评论 0</span>
            </div>
        </a>
    </div>
    <div class="list list-3rd">
        <a href="">
            <h3>喝了10年酸奶才知道，原来盒上有小机关</h3>
            <div class="list-box">
                <div class="list-img">
                    <img src="/assets/index/img/m1.jpg" alt="">
                </div>
                <div class="list-img">
                    <img src="/assets/index/img/m2.jpg" alt="">
                </div>
                <div class="list-img">
                    <img src="/assets/index/img/m3.jpg" alt="">
                </div>
            </div>
            <div class="corner">
                <span>知识网</span>
                <span>评论 15</span>
                <span>1小时前</span>
            </div>
        </a>
    </div>
</div>
</body>
<script src="/assets/index/js/index.js"></script>
</html>