<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>搜索</title>
  <link rel="stylesheet" href="/assets/index/css/rem.css">
  <!--<link rel="stylesheet" href="/assets/index/css/chang.css">-->
  <!--<link rel="stylesheet" href="/assets/index/css/currency.css">-->
  <link rel="stylesheet" href="/assets/index/css/search.css">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_791193_g2js5afd2hn.css">
  <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div class="backdrop"></div>
<header>
  <a href="http://localhost/index.php?c=page&m=index"><i class="iconfont icon-fanhui"></i></a>
  <h1>搜索</h1>
  <a href=""></a>
</header>
<nav>
  <div class="Box">
    <div class="tool">
      <i class="iconfont icon-jinritoutiao" style="color: red;"></i>
      <i class="iconfont icon-xiala" style="color: #cccccc;"></i>
      <ul class="tool-list">
        <li><i class="iconfont icon-jinritoutiao" style="color: red;"></i></li>
        <li><i class="iconfont icon-shenmasousuo" style="color: #EAA90B;font-size: 0.6rem"></i></li>
        <li><i class="iconfont icon-baidusousuo" style="color:cornflowerblue;"></i></li>
      </ul>
    </div>
    <input type="text" placeholder="请输入关键字" id="#input">
    <button type="button" name="btnSubmit" id="btnSubmit" class="btnSubmit" style="display: none">搜索</button>
  </div>
</nav>
<section>
  <ul class="baidu" style="display: none">
    <li><a href="">黄晓明再发声明</a></li>
    <li><a href="">女孩自驾失控坠江</a></li>
    <li><a href="">黄晓明再发声明</a></li>
    <li><a href="">黄晓明再发声明</a></li>
    <li><a href="">黄晓明再发声明</a></li>
    <li><a href="">黄晓明再发声明</a></li>
    <li><a href="">黄晓明再发声明</a></li>
    <li><a href="">黄晓明再发声明</a></li>
    <li><a href="">黄晓明再发声明</a></li>
    <li><a href="">黄晓明再发声明</a></li>
  </ul>
  <ul class="redian">
    <!--<?php foreach ($news as $k => $v) { ?>-->
    <!--<li><a href=""><?php echo $v['title'] ?></a></li>-->
    <!--<?php }?>-->
    <li><a href="">火箭签约安东尼</a></li>
    <li><a href="">山东暴雨预警</a></li>
    <li><a href="">黄晓明 股票操纵</a></li>
    <li><a href="">韩雪成被判无期</a></li>
    <li><a href="">茅台致歉</a></li>
    <li><a href="">阅文收购新丽传媒</a></li>
    <li><a href="">哈等等对女子动粗</a></li>
    <li><a href="">南京楼市调控新政</a></li>
    <li><a href="">怪物猎人时节下架</a></li>
    <li><a href="">江西彭小峰被批捕</a></li>
  </ul>
</section>
<div class="action-navigation">
  <div class="arrowup">
    <!--<img src="img/sanjiao.png" alt="">-->
  </div>
  <ul class="navigation-categories">
    <li>
      <a href="toutiao">新闻</a>
    </li>
    <li>
      <a href="toutiao">神马</a>
    </li>
    <li>
      <a href="toutiao">百度</a>
    </li>
  </ul>
</div>

<script src="/assets/index/js/search.js"></script>
</body>
</html>



























<!--<!doctype html>-->
<!--<html>-->
<!--<head>-->
  <!--<meta charset="UTF-8">-->
  <!--<meta name="viewport"-->
        <!--content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
  <!--<meta http-equiv="X-UA-Compatible" content="ie=edge">-->
  <!--<title>Document</title>-->
  <!--<script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>-->
<!--</head>-->
<!--<body>-->
  <!--<ul id="ul">-->
    <!--<?php foreach($results as $k => $v){ ?>-->
    <!--<li><?php echo $v['title']?></li>-->
    <!--<?php } ?>-->
  <!--</ul>-->
  <!--<button id="loadmore">加载更多</button>-->
<!--<script>-->
  <!--var page = 1;-->
  <!--$(function () {-->
     <!--$('#loadmore').click(function(){-->
       <!--$.ajax({-->
         <!--url:'/index.php?c=page&m=searchList&s=<?php echo $keyword?>',-->
         <!--data:{-->
           <!--page: page + 1-->
         <!--},-->
         <!--success:function(data){-->
           <!--page = page + 1;-->
           <!--data = JSON.parse(data);-->
           <!--if(data.length){-->
             <!--data.forEach(v=>{-->
               <!--$(`<li>${v.title}</li>`)-->
                 <!--.appendTo('#ul');-->
             <!--})-->
           <!--}else{-->
             <!--alert('没有更多')-->
           <!--}-->
         <!--}-->
       <!--})-->
     <!--})-->
  <!--})-->
<!--</script>-->
<!--</body>-->
<!--</html>-->